#student-table
{
    max-height: 400px;
    overflow: scroll;
}

th, tr
{
    width: 33%;
}

.present
{
    color: gray;
    font-style: italic;
    background-color: lightgoldenrodyellow;
}

.absent
{
    color: black;
    font-weight: bold;
    background-color: plum;
}


