<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">              <!-- start of #app div -->
        <!-- TODO display the name of the activity -->
        <!-- Application header: activity refers to the data activity from the script -->
        <h1 class="text-center">{{ activity }} Time Tracker</h1>


        <!-- Add records section -->
        <div id="add-hours" class="card">
            <h2 class="card-header">Add Records</h2>

            <div class="card-body">
                <!-- Display errors section -->
                <!-- TODO use v-show to show this if there are validation errors -->
                <div class="alert alert-danger" v-show="errors.length > 0">
                    <!-- TODO show a list of validation errors from form -->
                    <li v-for="error in errors">{{ error }}</li>
                </div>


                <!-- Date input -->
                <div class="form-group">
                    <!-- TODO display name of activity in the label -->
                    <!-- TODO use a filter to display the name of activity in lowercase -->
                    <label class="form-label" for="date">
                        What date did you
                        <!-- TODO activity name, in lowercase -->
                        {{ activity | lowercase}}?
                    </label>

                    <!-- TODO use v-model to connect this input to dateString data -->
                    <input id="date" class="form-control" type="date" v-model="dateString">

                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>


                <!-- Hours input -->
                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>

                    <!-- TODO use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24"
                           v-model.number="hours">

                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>


                <!-- Drop down list for the type of activity -->
                <div class="form-group">
                    <label class="form-label" for="activityType">What type?</label>

                    <!-- TODO Create select element, use v-model to connect to the types -->
                    <select class="form-control" id="activityType" v-model="type">
                        <!-- TODO Use v-for to create option elements, one for each type -->
                        <option v-for="type in types">{{ type }}</option>
                    </select>
                </div>


                <!-- Label "What media" for radio buttons: Traditional or Digital -->
                <div class="form-label pb-2">
                    What media?
                </div>

                <!-- "Traditional" radio buttons -->
                <div class="form-check-inline">
                    <!-- TODO v-model and v-bind media -->
                    <input id="media1" class="form-check-input" type="radio"
                           v-bind:value="media.traditional" v-model="medium">

                    <label class="form-check-label" for="media1">
                        <!--TODO Display text -->
                        {{ media.traditional }}
                    </label>

                    <!--
                        alternate way to write the above code
                        <input id="media1" class="form-check-input" type="radio"
                               value="Traditional" v-model="medium">
                        <label class="form-check-label" for="media1">Traditional</label>
                    -->
                </div>

                <!-- "Digital" radio buttons -->
                <div class="form-check-inline">
                    <!-- TODO v-model and v-bind media -->
                    <input id="media2" class="form-check-input" type="radio"
                           v-bind:value="media.digital" v-model="medium">

                    <label class="form-check-label" for="media2">
                        <!-- TODO Display text -->
                        {{ media.digital }}
                    </label>
                </div>


                <!-- Add a "Completed?" checkbox -->
                <div class="form-check pb-3 pt-3">
                    <input class="form-check-input" type="checkbox" v-model="completed">
                    <label class="form-check-label">Completed?</label>
                </div>


                <!-- Add a textarea for "Notes" -->
                <div class="form-group">
                    <label for="textareaInput">Notes:</label>
                    <textarea id="textareaInput" class="form-control" rows="3" v-model="note"></textarea>
                </div>


                <!-- Add a "Add record" button -->
                <div>
                    <!-- TODO Add v-on:click -->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
            </div>
        </div>              <!-- end of add records section -->


        <!-- Activity Records list section -->
        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">
                <h3>
                    <!-- TODO Display number of records -->
                    {{ totalRecords }}                          <!-- with computed property -->
                    <!-- {{ activityRecords.length }} records        without computed property -->
                </h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                            <th>Completed</th>
                            <th>Notes</th>
                        </tr>

                        <!-- TODO use v-for to create one table row for each activity record -->
                        <tr v-for="record in activityRecords"
                            v-bind:class="{sketchingRow: record.type === 'Sketching',
                                           drawingRow: record.type === 'Drawing',
                                           paintingRow: record.type === 'Painting'}">
                            <td>{{ record.date | shortDate}}</td>
                            <td>{{ record.hours | decimalPlaces(2)}}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.medium }}</td>
                            <td>{{ record.completed | checkedBox}}</td>
                            <td>{{ record.note | textareaDisplayCharacterLimit}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>          <!-- end of Activity Records list section -->


        <!-- Summary section -->
        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>
                    You have practiced a total of
                    <!-- TODO display total hours -->
                    {{ totalHours | decimalPlaces(2)}} hours.
                </p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
                <p v-if="activityRecords.length != 0">
                    Practice hours for each activity:

                    <li v-for="eachActivityHours in totalHoursForEachActivityRecord">
                        {{eachActivityHours.typeOfActivity}}: {{ eachActivityHours.numOfHours | decimalPlaces(2)}}

                        <!-- <span v-if="eachActivityHours.hours > 0">{{ eachActivityHours }}</span> -->
                    </li>
                </p>
            </div>
        </div>          <!-- summary section ends -->
    </div>              <!-- end of #app div -->


    <script>
        // TODO create new Vue app here
        let app = new Vue({
            el: "#app",
            data: {
                // name of the activity
                activity: "Practice Art",

                // this will be used with v-model to work with form data
                dateString: "",
                hours: 1,
                type: "Sketching",
                medium: "",
                completed: false,
                note: "",

                // array of activity records
                activityRecords: [],

                // used to create choices - the option elements for select element
                types: [ "Sketching", "Drawing", "Painting" ],

                // used to set the values, and the labels for the radio buttons
                media: {
                    traditional: "Traditional",
                    digital: "Digital"
                },

                // store errors discovered during validation
                errors: []
            },
            filters: {
                lowercase(text) {
                    return text.toLowerCase();
                },
                shortDate(date) {
                    return new Intl.DateTimeFormat("en-US", { timeZone: "UTC" }).format(date);
                },
                checkedBox(completed) {
                    if(completed)
                    {
                        return `Completed`;
                    }
                    return `Not completed`;
                },
                decimalPlaces: function(hours, numberOfDecimalPlaces) {
                    let formattedHours = hours.toFixed(numberOfDecimalPlaces);
                    return formattedHours;
                },
                textareaDisplayCharacterLimit(text) {
                    if(text.length >= 40)
                    {
                        return text.substr(0, 40) + "...";
                    }
                    return text;
                }
            },
            computed: {
                totalRecords() {
                    if(this.activityRecords.length == 1)
                    {
                        return `1 record`;
                    }
                    else
                    {
                        return this.activityRecords.length + " records";
                    }
                },
                totalHours() {
                    let total = 0;
                    this.activityRecords.forEach( record => {
                        total = total + record.hours;
                    })
                    return total;
                },
                totalHoursForEachActivityRecord() {
                    let arrayOfObjects = [];                // empty array for objects
                    // empty object for each type and hours for the type ("object literal" syntax)
                    let objectInArray = {};

                    this.activityRecords.forEach( record => {
                        this.types.forEach( activityType => {
                            // if the record entered is equal to one of the activity types
                            if(record.type === activityType)
                            {
                                // if there are no items/objects in the arrayOfObjects
                                if(arrayOfObjects.length === 0)
                                {
                                    // create a new object
                                    objectInArray = {
                                        typeOfActivity: record.type,
                                        numOfHours: record.hours
                                    }

                                    // push the object on to the arrayOfObjects
                                    arrayOfObjects.push(objectInArray);
                                }
                                // else if there are items/objects in the arrayOfObjects,
                                // i.e., arrayOfObjects.length != 0
                                else
                                {
                                    let found = false;      // initial boolean to record not found

                                    // loop through the array to find if the item/object already exists
                                    for(let i = 0; i < arrayOfObjects.length; i++)
                                    {
                                        // if the record exists in the arrayOfObjects
                                        if(record.type === arrayOfObjects[i].typeOfActivity)
                                        {
                                            // then just update the number of hours for that item/object
                                            arrayOfObjects[i].numOfHours += record.hours;

                                            found = true;   // record is found
                                            break;          // stop looping, as the item/object is found
                                        }
                                    }

                                    // if the record is not found in the arrayOfObjects
                                    if(!found)
                                    {
                                        // create a new object
                                        objectInArray = {
                                            typeOfActivity: record.type,
                                            numOfHours: record.hours
                                        }

                                        // push the object on to the arrayOfObjects
                                        arrayOfObjects.push(objectInArray);
                                    }
                                }
                            }
                        })
                    })

                    return arrayOfObjects;

                    /*
                    // alternate way of writing the above code limited to types in the array
                    // not flexible if types array increases or decreases
                    let totalSketchingHours = 0;
                    let totalDrawingHours = 0;
                    let totalPaintingHours = 0;

                    let eachActivityAndHours = [];                  // array of strings

                    this.activityRecords.forEach( record => {
                        if (record.type == 'Sketching')
                        {
                            totalSketchingHours = totalSketchingHours + record.hours;
                        }
                        else if (record.type == 'Drawing')
                        {
                            totalDrawingHours = totalDrawingHours + record.hours;
                        }
                        else if (record.type == 'Painting')
                        {
                            totalPaintingHours = totalPaintingHours + record.hours;
                        }
                    })

                    eachActivityAndHours.push(`Sketching practice hours: ${totalSketchingHours}`);
                    eachActivityAndHours.push(`Drawing practice hours: ${totalDrawingHours}`);
                    eachActivityAndHours.push(`Painting practice hours: ${totalPaintingHours}`);

                    return eachActivityAndHours;
                    */
                }
            },
            methods: {
                submit() {
                    // convert the dateString to a Date object
                    let date = new Date(this.dateString);

                    // Clear the errors array
                    this.errors = []

                    // Validation: dates need to be valid, and in the past or today
                    if(!this.dateString || this.dateString == "Invalid Date" || date > new Date())
                    {
                        this.errors.push("Select a valid date, today or in the past.")
                    }

                    // Validation: Hours should be between 0 and 24
                    if(this.hours <= 0 || this.hours > 24)
                    {
                        this.errors.push("The number of hours must be greater than 0 and less than 24.")
                    }

                    // Validation: Activity type has to be selected from drop down list
                    if(!this.type)
                    {
                        this.errors.push("Select a type.")
                    }

                    // Validation: Activity medium must be selected (for radio buttons)
                    if(!this.medium)
                    {
                        this.errors.push("Select a media.")
                    }

                    // if there are no errors, add a record to the summary
                    if(this.errors.length == 0)
                    {
                        // create a record
                        let record = {
                            date: date,
                            hours: this.hours,
                            type: this.type,
                            medium: this.medium,
                            completed: this.completed,
                            note: this.note
                        }

                        // Push the record on to the activityRecords array
                        this.activityRecords.push(record);

                        // sort the records according to date
                        this.activityRecords.sort(function(r1, r2) {
                            // returns negative value to order r1 before r2
                            // returns positive value to order r1 after r2
                            // if you want the earliest date at the top of the list
                            return r1.date.getTime() - r2.date.getTime()            // this returns a timestamp

                            // if you want the most recent date on top of the list
                            // return r2.date.getTime() - r1.date.getTime()         // this returns a timestamp
                        })
                    }
                }
            }
        })
    </script>
</body>

</html>